/*
E-Learning Landing Page
CSS by : Alfredo Patricius Tarigan
Created : 7 September 2020
*/

.header {
  background-size: cover;
  width: 100%;
  /* background-image: url('bg-1.jpg'); */
  background-repeat: no-repeat;


}

.navbar-color {
  color: #907b7b;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.josefins-sans-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #5588ed;
}

.jmb {
  margin-top: 60px;
}

.josefins-sans-regular {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #696e79;
}

.btn-prim {
  background-color: #7280ff;
  color: white;
}

.poppins-26 {
  font-size: 22px;
}

.poppins-24 {
  font-size: 15px;
  color: #a17f7f;
}
